@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');
body{
    font-family: 'Noto Sans Mono', monospace;
    padding:5px;
}
.jumbotron{
    text-align:center;
    background-color:rgb(177, 177, 177);
    color:white;
}