@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');
body{
    font-family: 'Noto Sans Mono', monospace;
    padding:5px;
}
.jumbotron{
    text-align:center;
    background-color:rgb(177, 177, 177);
    color:white;
}

.image{
    text-align:center;
}

img{
    height:271.5px;
    width:400px;
}

a{
    text-align:center;
    font-size:20px;
}

#body_text{
    font-size:15px;
}

#body_list {
    border-left: 5px solid rgb(177, 177, 177);
    background-color: #f1f1f1;
    list-style-type: none;
}
li{
    font-size:15px; 
}
h3{
    text-decoration:underline;
}
a:hover{
    text-decoration:none;
}